<a href="https://colab.research.google.com/github/amruthapavc577/crt_batch/blob/master/Day_5(03_12_19).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# python programming
## python programming
### python programming
#### python programming
##### python programming



1.  python basic
2.  phython advance
3.  python program

![image]()

[click here](https://www.google.com/)

In [0]:
print (" hello world")

 hello world

In [0]:
x = 10
y = 20
x + y

30

In [0]:
x = 13
y = 12
x - y

1

In [0]:
x = 10
y = 20
print(x + y)
print(x - y)

30
-10

In [0]:
x = int(input("enter the x value"))
y = int(input("enter the y value"))
x + y

enter the x value10
enter the y value20

30

In [0]:
x = input("enter your name")
y = int(input("enter your age"))

enter your name amrutha
enter your age 20

In [0]:
name = input("my name is")
age = int(input("my age is"))
print("my name is",name,"my age is",age)

my name is amrutha
my age is 20
my name is  amrutha my age is 20

In [0]:
name = input("my name is")
age = int(input("my age is"))
print("my name is",name,end=' ')
print("my age is",age)

my name isamu
my age is20
my name is amu my age is 20

integer= any no. with out decimal
float= any no.with decimal

# fundamental datatype



1.   int
2.   float
3.   complex
4.   boolean
5.   string

In [0]:
a = 3
b = 2.67
c = 5+6j
d = 3+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
print(c + d)

(8+11j)

In [0]:
str1 = "Gitam"
str2 = 'University'
str1+str2

'GitamUniversity'

In [0]:
len(str1)

5

In [0]:
len(str2)

10

In [0]:
a = 1234567890
print(len(str(a)))

10

In [0]:
result = 10<20
print(result,type(result))

True <class 'bool'>

# Operators

1. Arithmetaic operators--> (+, -, /,*,**,%, //)

2.  LOGICAL OPERATORS  --. and, or, not

3.   RELATIONAL OPERATORS--> ==,>,<,!=,<=, >=

*   = for compairing
*   == for asigning


4.   MEMBERSHIP OPERATOR---.FOR CHECKING THE AVAILABILTY OF CHARACTER

In [0]:
print("arithmetic operators")
a = 12
b = 23
print(a+b)
print(a-b)
print(a*b)
print(a%b)
print(a/b)
print(a//b)
print(a**b)

arithmetic operators
35
-11
276
12
0.5217391304347826
0
6624737266949237011120128

In [0]:
# logical operators
i = 10
j = 20

print(i<0 and j>20)
print(j<23 and i>3)
print(i>12 or i<33)
print(not i)

False
True
True
False

In [0]:
# relational operators
a= 12
b= 23
print(a>b)
print(a<b)
print(a!=b)
print(a==b)
print(a>=b)
print(a>=b)

False
True
True
False
False
False

In [0]:
# MEMBERSHIP OPERATOR
 str1 = 'GITAM'
 print('x' in str1)
 print('z' not in str1)

False
True

## CONDITIONAL STATEMENTS


1.  IF
2.   ELSE
3.  ELIF

#SYNTAX
if condition:

  statements

  else:

   statements

In [0]:
# to check given number is odd or not
n= int(input("enter any number"))
if n%2==0:
   print("even")
else: 
   print("odd")

enter any number23
odd

In [0]:
23